/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v18-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v18-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v18-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v18-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-family: Arial, serif;
}
html {
  font-family: 'Arial', sans-serif;
}
body {
  background-color: #0b1119;
  margin: 0;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
blockquote {
  margin: 0;
}
p {
  margin: 0;
}
picture {
  display: block;
}
*:focus {
  outline: thin dotted;
}
.container {
  width: 90.625%;
  margin: 0 auto;
}
@media (min-width : 660px) {
  .container {
    width: 94.791666666%;
  }
}
@media (min-width: 1170px) {
  .container {
    width: 95%;
    max-width: 1170px;
  }
}
.title {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}
@media (min-width : 660px) {
  .title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (min-width: 1170px) {
  .title {
    font-size: 40px;
    line-height: 52px;
  }
}
.input {
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #afafaf;
  border: none;
  padding: 14px;
  text-align: center;
  letter-spacing: 0.05em;
}
.btn {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 14px 0;
  border: none;
  color: #ffffff;
  background-color: #f99406;
  width: 100%;
  text-align: center;
  letter-spacing: 0.05em;
}
.btn:hover {
  background-color: #f7a83a;
}
.btn:active {
  background-color: #db8000;
}
.page-header {
  background-image: url("../img/screenshots-mobile.png"), url("../img/bg-mobile.png");
  background-position: center 265px, center 200px;
  background-repeat: no-repeat, no-repeat;
}
.page-header__logo {
  padding-top: 32px;
  padding-bottom: 32px;
  vertical-align: top;
}
@media (min-width : 660px) {
  .page-header {
    padding-bottom: 110px;
    background-image: url("../img/screenshots-tablet.png"), url("../img/bg-tablet.png");
    background-position: 450px 115px, 328px 31px;
  }
  .page-header__logo {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
@media (min-width: 1170px) {
  .page-header {
    padding-bottom: 250px;
    background-image: url("../img/screenshots-desktop.png"), url("../img/bg-desktop.png");
    background-position: right, 125% 100%;
  }
}
.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__desc {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #f99406;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-shadow: 0px 3px 26.73px rgba(249, 148, 6, 0.59);
  margin-bottom: 5px;
}
.intro__title {
  margin-bottom: 10px;
}
.intro__text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #bdbdbd;
  text-align: center;
}
.intro__field {
  padding-top: 270px;
}
@media (min-width : 480px) {
  .intro__field {
    padding-top: 350px;
  }
}
@media (min-width : 660px) {
  .intro {
    padding-top: 30px;
  }
  .intro__inner {
    align-items: flex-start;
  }
  .intro__title {
    text-align: left;
    max-width: 415px;
    margin-bottom: 20px;
  }
  .intro__field {
    padding-top: 0;
  }
  .intro__text {
    max-width: 300px;
    text-align: left;
    margin-bottom: 45px;
  }
}
@media (min-width: 1170px) {
  .intro__title {
    max-width: 580px;
  }
  .intro__inputs {
    display: flex;
  }
  .intro__input {
    width: 376px;
  }
  .intro__btn {
    width: 200px;
  }
}
.features {
  padding-top: 64px;
}
.features__item {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 45px;
  background-repeat: no-repeat;
  background-position: center 0px;
}
.features__item:first-child {
  background-image: url("../img/icon-quick.png");
}
.features__item:nth-child(2) {
  background-image: url("../img/icon-portfolio.png");
}
.features__item:last-child {
  background-image: url("../img/icon-money.png");
  margin-bottom: 0;
}
.features__desc {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
  letter-spacing: 0.05em;
}
@media (min-width : 660px) {
  .features__list {
    display: flex;
    justify-content: flex-start;
    max-width: 625px;
    margin: 0 auto;
  }
  .features__item {
    text-align: left;
    background-position: left top;
    margin-bottom: 0;
  }
}
@media (min-width: 1170px) {
  .features__list {
    max-width: 900px;
    justify-content: space-around;
  }
  .features__item {
    width: 200px;
    position: relative;
  }
  .features__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -86px;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 112px;
    height: 2px;
    background-color: #242930;
  }
  .features__item:last-child::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -120px;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 112px;
    height: 2px;
    background-color: #242930;
  }
}
.author {
  padding-top: 210px;
}
.author__inner {
  padding-top: 120px;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 70px;
  position: relative;
  border: 3px solid #f5a028;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/light.png");
  background-repeat: no-repeat;
  background-position: center left;
}
.author__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author__column--absolute {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.author__desc {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #f99406;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-shadow: 0px 3px 26.73px rgba(249, 148, 6, 0.59);
  margin-bottom: 5px;
}
.author__name {
  margin-bottom: 10px;
}
.author__post {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #bdbdbd;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 38px;
}
.author__text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
  letter-spacing: 0.05em;
  text-align: center;
}
@media (min-width : 660px) {
  .author__inner {
    flex-direction: row;
    margin-left: 140px;
    padding-left: 160px;
    padding-top: 125px;
    padding-bottom: 125px;
    padding-right: 60px;
    background-position: -220px 100%;
  }
  .author__desc {
    margin-bottom: 0;
  }
  .author__name {
    margin-bottom: 40px;
  }
  .author__post {
    text-align: left;
  }
  .author__text {
    text-align: left;
  }
  .author__column {
    text-align: left;
    align-items: flex-start;
  }
  .author__column--absolute {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}
@media (min-width: 1170px) {
  .author__inner {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-right: 75px;
    background-position: 0 100%;
    margin-left: 342px;
    margin-right: 130px;
    padding-left: 260px;
  }
  .author__name {
    margin-bottom: 20px;
  }
  .author__post {
    width: 250px;
  }
}
.results {
  padding-top: 130px;
}
.results__break {
  display: none;
}
.results__title {
  text-align: left;
  position: relative;
  margin-bottom: 40px;
}
.results__title::after {
  width: 70px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #f99406;
  top: -30px;
  left: 16px;
}
.results__title::before {
  width: 70px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #f99406;
  top: -46px;
  left: -6px;
}
.results__list {
  counter-reset: my-awesome-counter;
}
.results__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #bdbdbd;
  text-align: left;
  counter-increment: my-awesome-counter;
}
.results__item::after {
  content: counter(my-awesome-counter);
  left: 68px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  font-size: 72px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #ffffff;
  opacity: 0.05;
  counter-increment: section;
}
.results__item::before {
  content: "";
  position: absolute;
  left: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: radial-gradient(transparent, transparent 10%, #ffffff 20%);
  border: 6px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  /* Firefox 3.6 */
  /* Safari 4? Chrome 6? */
  background-clip: border-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  /* Firefox 3.6 */
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  /* Firefox 3.6 */
  /* Safari 4? Chrome 6? */
  background-clip: content-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.results__item:last-child {
  margin-bottom: 0;
}
@media (min-width : 660px) {
  .results__title {
    margin-bottom: 60px;
  }
  .results__break--tablet {
    display: none;
  }
  .results__list {
    width: 595px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .results__item {
    box-sizing: border-box;
    width: 250px;
  }
}
@media (min-width: 1170px) {
  .results {
    background-image: url("../img/chart.png"), url("../img/lines.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 400px;
  }
  .results__break--tablet {
    display: none;
  }
  .results__break--desktop {
    display: block;
  }
  .results__list {
    width: auto;
  }
  .results__chart {
    position: relative;
  }
  .results__item {
    padding: 0;
    position: absolute;
    left: -9999px;
  }
  .results__item:first-child {
    left: 0;
    top: 170px;
  }
  .results__item:first-child::after {
    left: -25px;
    top: 5px;
  }
  .results__item:first-child::before {
    left: 0;
    top: 122px;
  }
  .results__item:nth-child(2) {
    left: 300px;
    top: 50px;
  }
  .results__item:nth-child(2)::after {
    left: -25px;
    top: 5px;
  }
  .results__item:nth-child(2)::before {
    left: 0;
    top: 180px;
  }
  .results__item:nth-child(3) {
    left: 530px;
    top: 160px;
  }
  .results__item:nth-child(3)::after {
    left: -25px;
    top: 5px;
  }
  .results__item:nth-child(3)::before {
    left: 0;
    top: 160px;
  }
  .results__item:nth-child(4) {
    left: 800px;
    top: 50px;
  }
  .results__item:nth-child(4)::after {
    left: -25px;
    top: 5px;
  }
  .results__item:nth-child(4)::before {
    left: 0;
    top: 130px;
  }
  .results__item:last-child {
    left: 1000px;
    top: 30px;
  }
  .results__item:last-child::after {
    left: -25px;
    top: 5px;
  }
  .results__item:last-child::before {
    left: 0;
    top: 110px;
  }
}
.download {
  padding-top: 55px;
  padding-bottom: 80px;
  background-image: url("../img/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.download__title {
  margin-bottom: 10px;
}
.download__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download__desc {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #f99406;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-shadow: 0px 3px 26.73px rgba(249, 148, 6, 0.59);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.download__desc::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  width: 200px;
  height: 2px;
  background-color: #262a30;
}
.download__text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
  letter-spacing: 0.05em;
}
.download__list {
  width: 100%;
  max-width: 340px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.download__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}
.download__time {
  width: 100%;
  padding-bottom: 12px;
  text-align: center;
  display: block;
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0.05em;
}
.download__time--inactive {
  opacity: 0.11;
}
.download__time::before {
  width: 100%;
  height: 2px;
  bottom: 0;
  content: "";
  position: absolute;
  background-color: #ffffff;
  left: 0;
}
.download__date {
  padding-top: 12px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 13px;
}
@media (min-width : 660px) {
  .download {
    padding-top: 165px;
    background-image: url("../img/bg-tablet.png");
  }
  .download__desc {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .download__desc::before {
    bottom: -30px;
  }
  .download__time {
    font-size: 60px;
    padding-bottom: 30px;
  }
  .download__date {
    font-size: 16px;
    line-height: 24px;
  }
  .download__item {
    width: 115px;
  }
  .download__list {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 550px;
  }
  .download__field {
    width: 100%;
  }
  .download__inputs {
    display: flex;
    justify-content: center;
  }
  .download__input {
    width: 374px;
    flex-shrink: 0;
  }
  .download__btn {
    width: 195px;
  }
}
@media (min-width: 1170px) {
  .download {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("../img/bg-desktop.png");
  }
}
.page-footer {
  text-align: center;
  padding: 25px 0;
  background-color: #080d13;
}
.page-footer__copyright {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}
.page-footer__desc {
  color: #f99406;
}
@media (min-width : 660px) {
  .page-footer__copyright {
    font-size: 14px;
  }
}
@media (min-width: 1170px) {
  .page-footer {
    text-align: left;
  }
}
