.page-header {
  background-image: url("../img/screenshots-mobile.png"), url("../img/bg-mobile.png");
  background-position: center 265px, center 200px;
  background-repeat: no-repeat, no-repeat;


  &__logo {
    padding-top: 32px;
    padding-bottom: 32px;
    vertical-align: top;
  }
}
